#! /usr/bin/env xdg-open
[Desktop Entry]
Version=2.0
Name=Update
Exec=/usr/bin/env bash -ic  "cd \"`dirname %k`\"; ./update.bash; read"
Icon=redeclipse
Terminal=true
Type=Application
